

  /* Nav Bar b*/

.inline-block {
display: inline-block;
vertical-align: top;
}


.logo {
    width: 23%;
    padding: 1%;
    text-align: left;
}

nav {
    display:inline-block
    width: 100%
}

.navbar {
    display: inline-block;
    width: 99%%;
    padding: 1%;
    list-style-type: none;
    text-align: center;

   

}


ul {
    list-style-type: none;
    display: inline-block;
    margin-left: auto;
    
}

li {

list-style: none;
display: inline-block;
padding: 16px;
font-family: Museo Slab;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
align-items: center;
text-align: center;
}


  /* Hero Image b*/

.heroImg {
    display: inline-block;
    height: 900px;
    padding: 25px;
    width: 80%;
    

}

.content {
    width: 50%; 
    font-family: Museo Sans;
     font-style: normal;
    font-weight: normal;
font-size: 18 px;
line-height: 150%;
}

  /* Footer b*/

footer {
    background-color: #373738;
    padding-left: 25%;
    padding-right: 25%;
}
   
footer ul {
   list-style: none;
    display: inline-block;
    color: white;
    vertical-align: top;
    text-align: center;
    font-family: Museo Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}



